@import "settings";
@import "trmn-fonts.css";
@import "datatables";
@import "foundation-icons.css";
@import "rcswitcher.css";

$backdrop-color: #222;
$text-primary: WhiteSmoke;
$body-width: 1000px;
$manticore-red: #ee3300;
$medusa-yellow: #ffee00;

.button {
  color: $medusa-yellow;
  font-size: 1.5rem;
  background: $manticore-red;
  padding: 10px 20px 10px 20px;
  border: solid $medusa-yellow 4px;
  text-decoration: none;
  font-family: "Incised 901 W01 Bold Cd";
}

.whitesmoke {
  color: WhiteSmoke !important;
}

.button:hover {
  text-decoration: none;
  background: $medusa-yellow;
  color: $manticore-red;
  border: solid $manticore-red 4px;
}

.green {
  color: green !important;
}

.red {
  color: $manticore-red !important;
}

.red-border {
  border: solid $manticore-red 1px;
  padding: 5px;
  width: auto;
}

.blue {
  color: mediumblue !important;
}

.alert {
  color: #ff1fdb !important;
}

.yellow {
  color: $medusa-yellow !important;
}

.orange {
  color: orange !important;
}

.orange-red {
  color: orangered !important;
}

.hide {
  display: none !important;
}

.hide-overflow {
  overflow: hidden !important;
  width: 175px;
}

.medusa-error {
  list-style: none !important;
  margin-left: 0 !important;
  padding-left: 1em !important;
  text-indent: -1em !important;
}

.nav-header {
  color: $medusa-yellow;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "Incised 901 W01 Bold Cd";
}

.nav-header:hover {
  color: $manticore-red;
}

#left-nav .ui-accordion-header {
  font-size: 1.25rem !important;
  color: $medusa-yellow !important;
}

#left-nav .ui-accordion-content {
  font-size: 1rem !important;
  color: whitesmoke !important;
}

#left-nav .ui-widget-content a {
  color: whitesmoke !important;
}

.yellow-border {
  border: solid $medusa-yellow 1px;
  padding: 5px;
  width: auto;
}

.vertical-center-50px {
  line-height: 50px;
}

.padding-5 {
  padding: 2px;
}

.margin-5 {
  margin: 5px;
}

.inline {
  display: inline;
}

.underline {
  text-decoration: underline;
}

.plastron {
  width: 750px !important;
  background: black;
}

.ribbons {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center !important;
  //width: 315px;
  float: left;
}

.ribbons img {
  padding-bottom: 1px;
}

.ribbon {
  width: 105px;
  //height: 27px;
}

.citation {
  width: 105px;
  margin-right: -6px;
}

div.stripes {
  padding-top: 20px !important;
  padding-bottom: 200px !important;
  border: 1px solid white;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  margin-top: 20px;
  //width: 315px;
  float: left;
}

div.unit {
  border: 1px solid white;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  margin-top: 10px;
  //width: 315px;
  float: left;
}

div.name-badge {
  background: #edde9b;
  border: #a08242 2px solid;
  width: 200px;
  height: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  font-family: Optima, Arial, Helvetica, Verdana, Sans Serif;
  font-weight: bold;
  font-size: 24px;
  display: table-cell;
  color: #000000;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: middle;
}

div.name-badge-wrapper {
  display: table;
  margin: 0 auto;
  width: 316px;
  padding-bottom: 10px;
}

div.name-badge-spacer {
  display: table-cell;
  width: 58px !important;
  height: 50px;
}

.ESWP, .OSWP {
  width: 262px;
}

.MT, .MID, .WS {
  margin-bottom: -170px;
}

.HS {
  width: 55px;
  margin-bottom: 10px;
}

.SAW, .EAW, .OAW, .ESAW, .OSAW, .EMAW, .OMAW, .ENW, .ONW, .ESNW, .OSNW, .EMNW, .OMNW, .EOW, .OOW, .ESOW, .OSOW, .EMOW, .OMOW, .ESW, .OSW, .ESSW, .OSSW, .EMSW, .OMSW {
  width: 262px;
  margin-bottom: 10px;
}

.UNC {
  width: 262px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.patch {
  width: 220px;
  margin-top: 20px;
}

.patch-with-unc {
  margin-top: -55px;
  margin-left: -4px;
  padding-bottom: 10px !important;
}

.branch {
  width: 75%;
}

.ribbon-group {
  border: 1px solid white;
  margin: 10px;
}

.ribbon-row {
  height: 54px;
  padding-left: 20px;
}

.ribbon-group-row {
  height: 54px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  clear: both;
}

.ribbon_group_select {
  background: black !important;
  color: whitesmoke !important;
}

.selectize-input {
  background: black !important;
  color: whitesmoke !important;
  border: none;
}

.patch-row {
  padding-top: 5px;
  padding-left: 10px;
  clear: both;
}

div.filePhoto {
  //position: absolute;
  //top: 0;
  //right: 0;
  //width: 315px;
  text-align: center;
  z-index: 9999;
}

#photoPreview {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}

.filePhotoBox {
  width: 150px;
  height: 200px;
  background-color: #4D4D4D;
  border: solid 1px #CCCCCC;
  margin: auto;
  margin-bottom: 10px;
}

.reportHeader {
  background-color: #4D4D4D;
}

.reportSubHeader {
  background-color: #cccccc;
}

.filePhotoBox img {
  width: 150px;
  height: 200px;
}

.photoUpload {
  background-color: #4D4D4D;
  border: solid 1px #CCCCCC;
  margin: auto;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 150px;
}

.editButton {
  background-color: #4D4D4D;
  border: solid 1px #CCCCCC;
  margin: auto;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.editButton:hover {
  color: $manticore-red;
}

.ofpt {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  margin: -12.5% 0 0 -50%;
}

.ofpt-rel {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  margin: -12.5% 0 0 -50%;
}

.container {
  background: transparent;

  margin: 0 auto;
  padding: 0.75rem 1rem;
}

th.actions {
  width: 175px;
}

th.memberid {
  width: 110px;
}

th.email {
  width: 280px;
}

th.branch {
  width: 80px;
}

body, html {
  background: url("/images/trmn-subdued.png");
  color: $text-primary;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: "Incised 901 W01 Light";
  line-height: 100%;
}

#down {
  background: #000000 !important;
  color: $text-primary;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: "Incised 901 W01 Light";
  line-height: 100%;
}

#tos, #chooseShip, #examList, #confirmExamDelete {
  color: $text-primary;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#photoModal {
  color: $text-primary;
  background-color: #000000;
  font-family: "Incised 901 W01 Light";
  line-height: 100%;
}

.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  background-color: black !important;
}

p {
  font-family: "Incised 901 W01 Light";
}

a {
  color: $medusa-yellow;
}

h1 {
  color: $medusa-yellow;
  font-family: "Incised 901 W01 Light";
}

.trmn {
  font-family: "Incised 901 W01 Nord";
}

.Incised901Light {
  font-family: "Incised 901 W01 Light";
}

h1.trmn {
  text-transform: uppercase;
  color: white;
  line-height: 1.0;
}

.NordItalic {
  font-family: "Incised901W01-NordItali";
}

.Incised901Bold {
  font-family: "Incised 901 W01 Bold";
}

.Incised901Black {
  font-family: "Incised 901 W01 Black";
}

.seventy-five {
  font-size: 75%;
}

.ninety {
  font-size: 90%;
}

h4.NordItalic {
  color: $medusa-yellow;
}

h3.trmn {
  color: $medusa-yellow;
}

.my {
  color: $medusa-yellow;
}

h2, h3, h4, h5 {
  color: $text-primary;
  font-family: "Incised 901 W01 Light";
}

label {
  color: $text-primary;
  font-family: "Incised 901 W01 Light";
  font-size: 100% !important;
}

nav {
  background: none;
  height: 30px;
  width: 500px;
  margin: 0 auto;
  .topbar {
    background: none;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      list-style: none;
      display: block;
      height: 35px;
      float: left;
      margin-right: 1em;
      a {
        line-height: 35px;
      }
    }
  }
}

table {
  a {
    color: $medusa-yellow;
    background: none;
  }
}

#left-nav {
  width: 175px;
}

.rnav {
  clear: both;
  float: left;
  display: block;
  text-align: right;
  width: 175px;
  color: white;
  font-family: "Incised 901 W01 Bold Cd";
  font-size: 1rem;
  line-height: 1.25rem;
}

.rnav a {
  color: white;
}

.lnav {
  clear: both;
  float: left;
  display: inline;
  text-align: left;
  width: 175px;
}

td.right {
  text-align: right;
}

td {
  vertical-align: text-top;
}

footer {
  background: transparent;
  text-align: center;
  height: 152px;
  width: 100%;
  p {
    padding-top: 2em;
    color: $text-primary;
    font-size: 0.5rem;
    font-family: "Incised 901 W01 Light";
  }
}

.left-nav {
  height: 100%;
  display: block;
  float: left;
}

.reg-button {
  width: 150px;
}

.trmn-width {
  max-width: none;
}

.content {
  padding-left: 2.5rem;
  width: 80%;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

#user fieldset, #register fieldset, #changeRequest fieldset {
  width: auto;
}

#user legend, #register legend, #changeRequest legend {
  background: none;
}

.actionButtons {
  column-width: 50px;
}

#members .ui-toolbar {
  width: 100%;
}

#announcementList_wrapper .ui-toolbar {
  width: 100%;
}

.ui-widget-content {
  border: 0px;
  background: none;
  color: $medusa-yellow;
}

.ui-widget {
  font-family: "Incised 901 W01 Light";
  font-size: .9rem;
}

.ui-widget-content a {
  color: $medusa-yellow;
}

.ui-accordion-content, .ui-accordion, .ui-accordion-header {
  padding: 0px !important;
  font-size: 90% !important;
  border: none !important;
  background: none !important;
  color: WhiteSmoke !important;
  padding-left: .5em !important;
}

.ui-accordion-content {
  overflow: hidden !important;
}

.ui-accordion-header-icon {
  left: -0.75em !important;
}

.ui-state-default .ui-icon, .ui-state-default .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png") !important;
}

.ui-state-hover .ui-icon {
  background-image: url("images/ui-icons_ffee00_256x240.png") !important;
}

.ui-widget-header {
  border: none;
}

.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-36 {
  font-size: 36px;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

.size-72 {
  font-size: 72px;
}

.wait {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('/images/ajax-loader.gif') 50% 50% no-repeat;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
  color: black;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.multipage_nav {
  border-top: 1px solid #CCC;
  padding-top: 10px;
}

.multipage_nav a {
  font-weight: bold;
  display: block;
  padding: 10px 20px;
  color: #FFF;
  text-shadow: #333 1px 1px 5px;
  text-decoration: none;
  -moz-box-shadow: 0px 0px 5px #333;
  -webkit-box-shadow: 0px 0px 5px #333;
}

.multipage_nav .multipage_next {
  float: right;
  background: #ee3300; /* old browsers */
}

.multipage_nav .multipage_back {
  float: left;
  background: #ee3300; /* old browsers */
}

.multipage_nav .submit {
  background: #ee3300; /* old browsers */
}

.multipage_nav .multipage_state {
  display: block;
  text-align: center;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.multipage fieldset {
  border: 0px;
  padding: 10px;
  margin: 0px;
}

div.clearer {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  border-width: 0;
  margin: 0;
  padding: 0;
}

ul.multipage_tabs {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
}

ul.multipage_tabs li {
  display: block;
  float: left;
  margin-right: 20px;
}

ul.multipage_tabs li a {
  display: block;
  padding: 10px;
}

ul.multipage_tabs li.active {
  background: #CCC;
}

.selectize-input {
  padding: 0px;
}

.border-right {
  border-right: 1px solid WhiteSmoke;
}

tr:nth-of-type(even) {
  background: #4c4c4c;
}

.zebra-even:nth-of-type(even) {
  background: #4c4c4c;
}

.zebra-odd:nth-of-type(odd) {
  background: #4c4c4c;
}

.f-dropdown.content {
  background: #000 !important;
  word-wrap: break-word;
}