app/config/local
app/config/staging
bootstrap/compiled.php
bower_components
composer.phar
config.codekit
.DS_Store
.env.php
.env.*.php
_ide_helper.php
.idea
node_modules
npm-debug.log
.sass-cache
Thumbs.db
tmp
.vagrant
vendor