@import url(trmn-fonts.css);
/*
 * Table styles
 */
@import url(foundation-icons.css);
@import url(rcswitcher.css);
/* line 58, ../../scss/datatables.scss */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  background: none;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}
/* line 70, ../../scss/datatables.scss */
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}
/* line 75, ../../scss/datatables.scss */
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111111;
}
/* line 80, ../../scss/datatables.scss */
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}
/* line 85, ../../scss/datatables.scss */
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111111;
}
/* line 93, ../../scss/datatables.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  cursor: pointer;
  *cursor: hand;
}
/* line 100, ../../scss/datatables.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}
/* line 109, ../../scss/datatables.scss */
table.dataTable thead .sorting {
  background-image: url("/images/sort_both.png");
}
/* line 112, ../../scss/datatables.scss */
table.dataTable thead .sorting_asc {
  background-image: url("/images/sort_asc.png");
}
/* line 115, ../../scss/datatables.scss */
table.dataTable thead .sorting_desc {
  background-image: url("/images/sort_desc.png");
}
/* line 118, ../../scss/datatables.scss */
table.dataTable thead .sorting_asc_disabled {
  background-image: url("/images/sort_asc_disabled.png");
}
/* line 121, ../../scss/datatables.scss */
table.dataTable thead .sorting_desc_disabled {
  background-image: url("/images/sort_desc_disabled.png");
}
/* line 130, ../../scss/datatables.scss */
table.dataTable tbody tr {
  background: none;
}
/* line 134, ../../scss/datatables.scss */
table.dataTable tbody tr.selected {
  background: none;
}
/* line 140, ../../scss/datatables.scss */
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
  color: #ffee00;
}
/* line 150, ../../scss/datatables.scss */
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #dddddd;
}
/* line 154, ../../scss/datatables.scss */
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}
/* line 162, ../../scss/datatables.scss */
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
/* line 167, ../../scss/datatables.scss */
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #dddddd;
}
/* line 172, ../../scss/datatables.scss */
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}
/* line 181, ../../scss/datatables.scss */
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}
/* line 184, ../../scss/datatables.scss */
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}
/* line 193, ../../scss/datatables.scss */
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
}
/* line 196, ../../scss/datatables.scss */
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}
/* line 206, ../../scss/datatables.scss */
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa;
  color: #ffee00;
}
/* line 213, ../../scss/datatables.scss */
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}
/* line 224, ../../scss/datatables.scss */
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}
/* line 228, ../../scss/datatables.scss */
table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}
/* line 232, ../../scss/datatables.scss */
table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}
/* line 238, ../../scss/datatables.scss */
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}
/* line 241, ../../scss/datatables.scss */
table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}
/* line 244, ../../scss/datatables.scss */
table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}
/* line 251, ../../scss/datatables.scss */
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa;
}
/* line 255, ../../scss/datatables.scss */
table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc;
}
/* line 259, ../../scss/datatables.scss */
table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe;
}
/* line 265, ../../scss/datatables.scss */
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}
/* line 268, ../../scss/datatables.scss */
table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}
/* line 271, ../../scss/datatables.scss */
table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}
/* line 281, ../../scss/datatables.scss */
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}
/* line 285, ../../scss/datatables.scss */
table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec;
}
/* line 289, ../../scss/datatables.scss */
table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef;
}
/* line 295, ../../scss/datatables.scss */
table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}
/* line 298, ../../scss/datatables.scss */
table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}
/* line 301, ../../scss/datatables.scss */
table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}
/* line 308, ../../scss/datatables.scss */
table.dataTable.no-footer {
  border-bottom: 1px solid #111111;
}
/* line 313, ../../scss/datatables.scss */
table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}
/* line 319, ../../scss/datatables.scss */
table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}
/* line 324, ../../scss/datatables.scss */
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}
/* line 329, ../../scss/datatables.scss */
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}
/* line 336, ../../scss/datatables.scss */
table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}
/* line 341, ../../scss/datatables.scss */
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
/* line 347, ../../scss/datatables.scss */
table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}
/* line 352, ../../scss/datatables.scss */
table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}
/* line 357, ../../scss/datatables.scss */
table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}
/* line 364, ../../scss/datatables.scss */
table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}
/* line 369, ../../scss/datatables.scss */
table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}
/* line 374, ../../scss/datatables.scss */
table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}
/* line 379, ../../scss/datatables.scss */
table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}
/* line 384, ../../scss/datatables.scss */
table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
/* line 391, ../../scss/datatables.scss */
table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}
/* line 396, ../../scss/datatables.scss */
table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}
/* line 401, ../../scss/datatables.scss */
table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}
/* line 406, ../../scss/datatables.scss */
table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}
/* line 411, ../../scss/datatables.scss */
table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

/* line 420, ../../scss/datatables.scss */
table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*
 * Control feature layout
 */
/* line 431, ../../scss/datatables.scss */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
/* line 437, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_length {
  float: left;
}
/* line 442, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
/* line 446, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
/* line 452, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
/* line 459, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
/* line 464, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: white !important;
  border: 1px solid transparent;
}
/* line 478, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: 1px solid #cacaca;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}
/* line 488, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
/* line 498, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111111 100%);
  /* W3C */
}
/* line 507, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
/* line 517, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
/* line 523, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}
/* line 545, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white;
  font-size: 75%;
}
/* line 554, ../../scss/datatables.scss */
.dataTables_wrapper div.dataTables_filter label,
.dataTables_wrapper div.dataTables_length label {
  color: white;
  font-size: 75%;
}
/* line 561, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_scroll {
  clear: both;
}
/* line 564, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
/* line 568, ../../scss/datatables.scss */
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
/* line 581, ../../scss/datatables.scss */
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111111;
}
/* line 585, ../../scss/datatables.scss */
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
  border-bottom: none;
}
/* line 592, ../../scss/datatables.scss */
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  /* line 607, ../../scss/datatables.scss */
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  /* line 613, ../../scss/datatables.scss */
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  /* line 621, ../../scss/datatables.scss */
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  /* line 627, ../../scss/datatables.scss */
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}
/* line 633, ../../scss/datatables.scss */
.ui-widget-header {
  background: none;
}

/* line 637, ../../scss/datatables.scss */
table.dataTable thead {
  background: #f5f5f5;
}

/* line 641, ../../scss/datatables.scss */
table.dataTable thead th,
table.dataTable thead td {
  font-family: "Incised 901 W01 Black";
  border-bottom: 1px solid white;
}

/* line 647, ../../scss/datatables.scss */
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* line 652, ../../scss/datatables.scss */
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}

/* line 657, ../../scss/datatables.scss */
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}

/* line 662, ../../scss/datatables.scss */
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #999999;
}

/* line 666, ../../scss/datatables.scss */
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #abb9d3;
}

/* line 670, ../../scss/datatables.scss */
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: whitesmoke;
}

/* line 674, ../../scss/datatables.scss */
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #a9b7d1;
}

/* line 678, ../../scss/datatables.scss */
table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}

/* line 683, ../../scss/datatables.scss */
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}

/* line 688, ../../scss/datatables.scss */
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}

/* line 693, ../../scss/datatables.scss */
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ddd;
}

/* line 697, ../../scss/datatables.scss */
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}

/* line 13, ../../scss/main.scss */
.button {
  color: #ffee00;
  font-size: 1.5rem;
  background: #ee3300;
  padding: 10px 20px 10px 20px;
  border: solid #ffee00 4px;
  text-decoration: none;
  font-family: "Incised 901 W01 Bold Cd";
}

/* line 23, ../../scss/main.scss */
.whitesmoke {
  color: WhiteSmoke;
}

/* line 27, ../../scss/main.scss */
.button:hover {
  text-decoration: none;
  background: #ffee00;
  color: #ee3300;
  border: solid #ee3300 4px;
}

/* line 34, ../../scss/main.scss */
.green {
  color: green !important;
}

/* line 38, ../../scss/main.scss */
.red {
  color: #ee3300 !important;
}

/* line 42, ../../scss/main.scss */
.red-border {
  border: solid #ee3300 1px;
  padding: 5px;
  width: auto;
}

/* line 48, ../../scss/main.scss */
.blue {
  color: mediumblue !important;
}

/* line 52, ../../scss/main.scss */
.alert {
  color: #ff1fdb !important;
}

/* line 56, ../../scss/main.scss */
.yellow {
  color: #ffee00 !important;
}

/* line 60, ../../scss/main.scss */
.orange {
  color: orange !important;
}

/* line 64, ../../scss/main.scss */
.orange-red {
  color: orangered !important;
}

/* line 68, ../../scss/main.scss */
.hide {
  display: none !important;
}

/* line 72, ../../scss/main.scss */
.hide-overflow {
  overflow: hidden !important;
  width: 175px;
}

/* line 77, ../../scss/main.scss */
.error {
  list-style: none !important;
  margin-left: 0 !important;
  padding-left: 1em !important;
  text-indent: -1em !important;
}

/* line 84, ../../scss/main.scss */
.nav-header {
  color: #ffee00;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "Incised 901 W01 Bold Cd";
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 93, ../../scss/main.scss */
.nav-header:hover {
  color: #ee3300;
}

/* line 97, ../../scss/main.scss */
.yellow-border {
  border: solid #ffee00 1px;
  padding: 5px;
  width: auto;
}

/* line 103, ../../scss/main.scss */
.vertical-center-50px {
  line-height: 50px;
}

/* line 107, ../../scss/main.scss */
.padding-5 {
  padding: 2px;
}

/* line 111, ../../scss/main.scss */
.margin-5 {
  margin: 5px;
}

/* line 115, ../../scss/main.scss */
.inline {
  display: inline;
}

/* line 119, ../../scss/main.scss */
.underline {
  text-decoration: underline;
}

/* line 123, ../../scss/main.scss */
div.filePhoto {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  text-align: center;
}

/* line 131, ../../scss/main.scss */
#photoPreview {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
}

/* line 138, ../../scss/main.scss */
.filePhotoBox {
  width: 150px;
  height: 200px;
  background-color: #4D4D4D;
  border: solid 1px #CCCCCC;
  margin: auto;
  margin-bottom: 10px;
}

/* line 147, ../../scss/main.scss */
.reportHeader {
  background-color: #4D4D4D;
}

/* line 151, ../../scss/main.scss */
.reportSubHeader {
  background-color: #cccccc;
}

/* line 155, ../../scss/main.scss */
.filePhotoBox img {
  width: 150px;
  height: 200px;
}

/* line 160, ../../scss/main.scss */
.photoUpload {
  background-color: #4D4D4D;
  border: solid 1px #CCCCCC;
  margin: auto;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 150px;
}

/* line 172, ../../scss/main.scss */
.editButton {
  background-color: #4D4D4D;
  border: solid 1px #CCCCCC;
  margin: auto;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 183, ../../scss/main.scss */
.editButton:hover {
  color: #ee3300;
}

/* line 187, ../../scss/main.scss */
.ofpt {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  margin: -12.5% 0 0 -50%;
}

/* line 196, ../../scss/main.scss */
.container {
  background: transparent;
  margin: 0 auto;
  padding: 0.75rem 1rem;
}

/* line 203, ../../scss/main.scss */
th.actions {
  width: 175px;
}

/* line 207, ../../scss/main.scss */
th.memberid {
  width: 110px;
}

/* line 211, ../../scss/main.scss */
th.email {
  width: 280px;
}

/* line 215, ../../scss/main.scss */
th.branch {
  width: 80px;
}

/* line 219, ../../scss/main.scss */
body, html {
  background: url("/images/trmn-subdued.png");
  color: WhiteSmoke;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: "Incised 901 W01 Light";
  line-height: 100%;
}

/* line 229, ../../scss/main.scss */
#down {
  background: #000000 !important;
  color: WhiteSmoke;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: "Incised 901 W01 Light";
  line-height: 100%;
}

/* line 239, ../../scss/main.scss */
#tos, #chooseShip, #examList, #confirmExamDelete {
  color: WhiteSmoke;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* line 246, ../../scss/main.scss */
#photoModal {
  color: WhiteSmoke;
  background-color: #000000;
  font-family: "Incised 901 W01 Light";
  line-height: 100%;
}

/* line 253, ../../scss/main.scss */
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  background-color: black !important;
}

/* line 260, ../../scss/main.scss */
p {
  font-family: "Incised 901 W01 Light";
}

/* line 264, ../../scss/main.scss */
a {
  color: #ffee00;
}

/* line 268, ../../scss/main.scss */
h1 {
  color: #ffee00;
  font-family: "Incised 901 W01 Light";
}

/* line 273, ../../scss/main.scss */
.trmn {
  font-family: "Incised 901 W01 Nord";
}

/* line 277, ../../scss/main.scss */
.Incised901Light {
  font-family: "Incised 901 W01 Light";
}

/* line 281, ../../scss/main.scss */
h1.trmn {
  text-transform: uppercase;
  color: white;
}

/* line 286, ../../scss/main.scss */
.NordItalic {
  font-family: "Incised901W01-NordItali";
}

/* line 290, ../../scss/main.scss */
.Incised901Bold {
  font-family: "Incised 901 W01 Bold";
}

/* line 294, ../../scss/main.scss */
.Incised901Black {
  font-family: "Incised 901 W01 Black";
}

/* line 298, ../../scss/main.scss */
.seventy-five {
  font-size: 75%;
}

/* line 302, ../../scss/main.scss */
.ninety {
  font-size: 90%;
}

/* line 306, ../../scss/main.scss */
h4.NordItalic {
  color: #ffee00;
}

/* line 310, ../../scss/main.scss */
h3.trmn {
  color: #ffee00;
}

/* line 314, ../../scss/main.scss */
.my {
  color: #ffee00;
}

/* line 318, ../../scss/main.scss */
h2, h3, h4, h5 {
  color: WhiteSmoke;
  font-family: "Incised 901 W01 Light";
}

/* line 323, ../../scss/main.scss */
label {
  color: WhiteSmoke;
  font-family: "Incised 901 W01 Light";
}

/* line 328, ../../scss/main.scss */
nav {
  background: none;
  height: 30px;
  width: 500px;
  margin: 0 auto;
}
/* line 333, ../../scss/main.scss */
nav .topbar {
  background: none;
}
/* line 336, ../../scss/main.scss */
nav ul {
  list-style: none;
  margin: 0;
}
/* line 339, ../../scss/main.scss */
nav ul li {
  list-style: none;
  display: block;
  height: 35px;
  float: left;
  margin-right: 1em;
}
/* line 345, ../../scss/main.scss */
nav ul li a {
  line-height: 35px;
}

/* line 353, ../../scss/main.scss */
table a {
  color: #ffee00;
  background: none;
}

/* line 359, ../../scss/main.scss */
#left-nav {
  width: 175px;
}

/* line 363, ../../scss/main.scss */
div.rnav {
  clear: both;
  float: left;
  display: block;
  text-align: right;
  width: 175px;
  color: white;
  font-family: "Incised 901 W01 Bold Cd";
  font-size: 1rem;
  line-height: 1.25rem;
}

/* line 375, ../../scss/main.scss */
div.rnav a {
  color: white;
}

/* line 379, ../../scss/main.scss */
div.lnav {
  clear: both;
  float: left;
  display: inline;
  text-align: left;
  width: 175px;
}

/* line 387, ../../scss/main.scss */
td.right {
  text-align: right;
}

/* line 391, ../../scss/main.scss */
footer {
  background: transparent;
  text-align: center;
  height: 152px;
  width: 100%;
}
/* line 396, ../../scss/main.scss */
footer p {
  padding-top: 2em;
  color: WhiteSmoke;
  font-size: 0.5rem;
  font-family: "Incised 901 W01 Light";
}

/* line 404, ../../scss/main.scss */
.left-nav {
  height: 100%;
  display: block;
  float: left;
}

/* line 410, ../../scss/main.scss */
.reg-button {
  width: 150px;
}

/* line 414, ../../scss/main.scss */
.trmn-width {
  max-width: none;
}

/* line 418, ../../scss/main.scss */
.content {
  padding-left: 2.5rem;
  width: 80%;
}

/* line 423, ../../scss/main.scss */
.textRight {
  text-align: right;
}

/* line 427, ../../scss/main.scss */
.textLeft {
  text-align: left;
}

/* line 431, ../../scss/main.scss */
#user fieldset, #register fieldset, #changeRequest fieldset {
  width: auto;
}

/* line 435, ../../scss/main.scss */
#user legend, #register legend, #changeRequest legend {
  background: none;
}

/* line 439, ../../scss/main.scss */
#chapterList {
  width: 75%;
}

/* line 443, ../../scss/main.scss */
.actionButtons {
  column-width: 50px;
}

/* line 447, ../../scss/main.scss */
.ui-toolbar {
  width: 75%;
}

/* line 451, ../../scss/main.scss */
#members .ui-toolbar {
  width: 100%;
}

/* line 455, ../../scss/main.scss */
#announcementList_wrapper .ui-toolbar {
  width: 100%;
}

/* line 459, ../../scss/main.scss */
.ui-widget-content {
  border: 0px;
  background: none;
  color: #ffee00;
}

/* line 465, ../../scss/main.scss */
.ui-widget {
  font-family: "Incised 901 W01 Light";
  font-size: .9rem;
}

/* line 470, ../../scss/main.scss */
.ui-widget-content a {
  color: #ffee00;
}

/* line 474, ../../scss/main.scss */
.ui-accordion-content, .ui-accordion, .ui-accordion-header {
  padding: 0px !important;
  font-size: 90% !important;
  border: none !important;
  background: none !important;
  color: WhiteSmoke !important;
  padding-left: .5em !important;
}

/* line 483, ../../scss/main.scss */
.ui-accordion-content {
  overflow: hidden !important;
}

/* line 487, ../../scss/main.scss */
.ui-accordion-header-icon {
  left: -0.75em !important;
}

/* line 491, ../../scss/main.scss */
.ui-state-default .ui-icon, .ui-state-default .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png") !important;
}

/* line 495, ../../scss/main.scss */
.ui-state-hover .ui-icon {
  background-image: url("images/ui-icons_ffee00_256x240.png") !important;
}

/* line 499, ../../scss/main.scss */
.ui-widget-header {
  border: none;
}

/* line 503, ../../scss/main.scss */
#user fieldset {
  width: 75%;
}

/* line 507, ../../scss/main.scss */
.size-12 {
  font-size: 12px;
}

/* line 511, ../../scss/main.scss */
.size-14 {
  font-size: 14px;
}

/* line 515, ../../scss/main.scss */
.size-16 {
  font-size: 16px;
}

/* line 519, ../../scss/main.scss */
.size-18 {
  font-size: 18px;
}

/* line 523, ../../scss/main.scss */
.size-21 {
  font-size: 21px;
}

/* line 527, ../../scss/main.scss */
.size-24 {
  font-size: 24px;
}

/* line 531, ../../scss/main.scss */
.size-36 {
  font-size: 36px;
}

/* line 535, ../../scss/main.scss */
.size-48 {
  font-size: 48px;
}

/* line 539, ../../scss/main.scss */
.size-60 {
  font-size: 60px;
}

/* line 543, ../../scss/main.scss */
.size-72 {
  font-size: 72px;
}

/* line 547, ../../scss/main.scss */
.wait {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("/images/ajax-loader.gif") 50% 50% no-repeat;
}

/* line 558, ../../scss/main.scss */
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
  color: black;
}

/* line 565, ../../scss/main.scss */
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

/* line 571, ../../scss/main.scss */
.autocomplete-selected {
  background: #F0F0F0;
}

/* line 575, ../../scss/main.scss */
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

/* line 580, ../../scss/main.scss */
.autocomplete-group {
  padding: 2px 5px;
}

/* line 584, ../../scss/main.scss */
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
