.authenticated .login-form {
  display: none; }

.not-authenticated .login-form {
  display: normal; }
.not-authenticated .sensitive {
  display: none; }

.button {
  background-color: #e30; }

.container {
  background-color: #222;
  width: 978px;
  margin: 0 auto;
  padding: 0.75rem 2.5rem; }

th.memberid {
  width: 110px; }

th.email {
  width: 280px; }

th.branch {
  width: 80px; }

body, html {
  background-color: black;
  color: whitesmoke; }

h1 {
  color: #fe0; }

h2, h3, h4 {
  color: whitesmoke; }

label {
  color: whitesmoke; }

nav {
  width: 978px;
  margin: 0 auto; }

table a {
  color: black; }

td.right {
  text-align: right; }

footer {
  text-align: center; }
  footer p {
    color: whitesmoke;
    font-size: 0.5rem; }
