.authenticated .login-form {
  display: none; }

.not-authenticated .login-form {
  display: normal; }
.not-authenticated .sensitive {
  display: none; }

.button {
  background-color: #e30; }

.container {
  background: black url("../img/content-background.png") repeat center top;
  min-height: 150px;
  width: 978px;
  margin: 300px auto 0;
  padding: 0.75rem 2.5rem; }

th.memberid {
  width: 110px; }

th.email {
  width: 280px; }

th.branch {
  width: 80px; }

body, html {
  background: black url("../img/header-background.jpg") no-repeat center top;
  color: whitesmoke; }

a {
  color: #fe0; }

h1 {
  color: #fe0; }

h2, h3, h4 {
  color: whitesmoke; }

label {
  color: whitesmoke; }

nav {
  background: none;
  height: 30px;
  width: 500px;
  margin: 0 auto; }
  nav .topbar {
    background: none; }
  nav ul {
    list-style: none;
    margin: 0; }
    nav ul li {
      list-style: none;
      display: block;
      height: 35px;
      float: left;
      margin-right: 1em; }
      nav ul li a {
        line-height: 35px; }

table a {
  color: black; }

td.right {
  text-align: right; }

footer {
  background: black url("../img/footer-background.jpg") no-repeat center top;
  text-align: center;
  height: 152px;
  width: 100%; }
  footer p {
    padding-top: 2em;
    color: whitesmoke;
    font-size: 0.5rem; }
