::-webkit-input-placeholder {
  color: #66b2c9;
}

::-ms-input-placeholder {
  color: #66b2c9;
}

:-ms-input-placeholder {
  color: #66b2c9;
}

::placeholder {
  color: #66b2c9;
}

.selectize-input,
.selectize-input input {
  color: whitesmoke;
}

.selectize-dropdown,
.selectize-input,
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #1c1c1d;
  color: whitesmoke;
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
  border-color: #29292a;
}

.selectize-control.single .selectize-input {
  padding: 2px 30px 2px 5px;
}

.selectize-control.single .selectize-input:after {
  border-top-color: whitesmoke;
}

.selectize-dropdown .active {
  color: #1c1c1d;
  background-color: #66b2c9;
}

.selectize-input .item {
  max-width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0.60rem;
}

.selectize-input {
  min-height: 2.6875rem;
}

.well {
  background-color: lightslategray;
}

