version: 2
jobs:
  build:
    working_directory: /var/www/html
    docker:
      - image: circleci/php:7.2
      - image: circleci/mongo:latest
        environment:
          APP_ENV: development
    steps:
#      - run:
#          name: Install system packages
#          command: apt-get update && apt-get -y install git
      - run:
          name: Install gd PHP extension
          command: sudo docker-php-ext-install gd
      - run:
          name: Install MongoDB
          command: sudo pecl install mongodb
      - checkout
      - run:
          name: Install Composer
          command: |
            php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
            php -r "if (hash_file('SHA384', 'composer-setup.php') === trim(file_get_contents('https://composer.github.io/installer.sig'))) { echo 'Installer verified'; } else { echo 'Installer invalid'; unlink('composer-setup.php'); } echo PHP_EOL;"
            php composer-setup.php
            php -r "unlink('composer-setup.php');"
      - run:
          name: Display PHP information
          command: |
            php -v
            php composer.phar --version
      - run:
          name: Install project dependencies
          command: php composer.phar install
      - run:
          name: Run CS tests
          command: vendor/bin/phpcs --standard=PSR2 --colors app/
#      - run:
#          name: Run Unit tests
#          command: vendor/bin/phpunit