<div id="login-form">
    <form>
        <label for="username">Username</label> <input id="username" name="username" placeholder="username">
        <label for="password">Password</label> <input id="password" name="password" type="password">
        <input type="submit" id="submit-login" name="submit-login" value="Login">
    </form>
</div>