<form class="navbar-form navbar-right">
    <label for="email">Email</label> <input id="email" name="email" placeholder="email" type="email">
    <label for="password">Password</label> <input id="password" name="password" type="password">
    <button id="signin-btn" type="button" class="btn btn-default navbar-btn">Sign in</button>
</form>