<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TRMN Database</a>
        </div>
        {% if user %}
            <div id="user-info">
                <p class="navbar-text navbar-right">Signed in as <span id="username">{{ user.name }}</span>. <a href="/signout">logout</a></p>
            </div>
        {% else %}
            <div id="signin-form">
                {% include 'loginForm' %}
            </div>
        {% endif %}
    </div>
</nav>