{% extends 'layout' %}

{% block content %}
<h1>{{ profile.name }}</h1>

<div class="ribbon-block">
    <p>Ribbon Block Here</p>
</div>

<ul>
    <li>Rank: {{ profile.rank.name }}</li>
    <li>Email: {{ profile.email }}</li>
</ul>
{% endblock %}